<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:00 am - 12:00 pm</td>  <td>Part I: Version Control with Git</td> </tr>
      <tr> <td>12:00 pm - 1:00 pm</td>  <td>Lunch break</td> </tr>
      <tr> <td>1:00 pm - 3:30 pm</td>  <td>Part II: Git and GitHub for Collaborative Development</td> </tr>
      <tr> <td>3:30 pm - 3:45 pm</td> <td>Questions</td></tr>
      <tr> <td>3:45 pm - 4:00 pm</td> <td>Wrap-up</td></tr>
      <tr> <td>4:00 pm</td> <td>END</td></tr>
      <tr> <td>After</td> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>